.container {
display: flex;
flex-direction: column;
}
.imgContainer{
    width: 100%;
    height: 200px;
    margin-top: -3px;
    position: relative;
}
.img {
    width: 100%;
    height: 100%;
}
  .imgText {
    position: absolute;
    bottom: 2%;
    left: 1%;
    background-color: #00a36c;
    color: white;
    padding: 0.3rem;
  }
  .imgTitle {
    font-weight: 900;
    margin-left: 0.3rem;
  }
  .imgDes {
    font-size: 18px;
    opacity: 0.7;
margin-left: 0.3rem;
  }
.textContainer {
    display: flex;
    gap :30px;
    margin-bottom:2rem;
}
.text {
flex: 1;
text-align: left;
}
.text .title {
    text-align: center;
    color: white;
    font-weight: 800;
    letter-spacing: 0.4px;
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    
}
.des {
    line-height:1.8;
    margin-bottom: 1rem;
}
.btn {
    all: unset;
    background-color:#00a36c;
    color:rgb(255, 255, 255);
    cursor: pointer;
    width:80px;
    height:30px;
    text-align:center;
    border-radius: 9px;
    margin-top:0.5rem;
    transition:0.4s;
    padding: 10px;
}
.btn:hover{
    color:rgba(255, 255, 255, 1);
}